<div ng-if="authData">
  <a ng-click="logout()">Logout</a>
  <a href="/#/post">New Post</a>
</div>
<a ng-if="!authData" href="/#/register">Login</a>
<br><hr><br>

<div ng-repeat="post in posts | orderBy:'-votes'" class="container">
  <hr>
  <div class="row">
    <div id="voteButtons" class="col-xs-1">
      <button class="btn btn-sm btn-warning" ng-click="upvotePost(post)">^</button>
      <h4>{{post.votes}}</h4>
      <button class="btn btn-sm btn-primary" ng-click="downvotePost(post)">v</button>
    </div>
    <div id="postBody" class="col-xs-4">
      <h3><a ng-href="{{post.url}}"> {{post.title}} </a></h3>
      <p> {{post.desc}} </p>
      <button ng-click="deletePost(post)">Delete Post</button>
    </div>
    <form role="form" class="col-xs-6">
      <div class="form-group">
        <input class="form-control" type="text" ng-model="comment.text"/>
      </div>
      <button class="btn btn-lg btn-success" ng-disabled="!authData"ng-click="addComment(post, comment)">
        Add Comment
      </button>
      <p ng-show="!authData">Login to share your voice!</p>
    </form>
  </div>
  <div class="row">
    <h4> Comments </h4>
    <ul ng-repeat="comment in post.comments | commentOrder" class="col-xs-12 comment-list">
      <li class="panel panel-default">
      <div class="panel-heading">Username, time posted...</div>
        <div class="panel-body">
          <div id="voteButtons" class="col-xs-1">
            <button class="btn btn-sm btn-warning" ng-click="upvoteComment(post, comment)">^</button>
            <h4>{{comment.votes}}</h4>
            <button class="btn btn-sm btn-primary" ng-click="downvoteComment(post, comment)">v</button>
          </div>
          <h5 class="col-xs-10">{{comment.text}}</h3>
        </div>
      </li>
    </ul>
  </div>
</div>
