<a ng-if="authData" ng-click="logout()">Logout</a>

<form role="form">
  <div class="form-group">
    <label>Post Title</label>
    <input class="form-control" type="text" ng-model="post.title"/>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" type="text" ng-model="post.desc"/>
  </div>
  <div class="form-group">
    <label>Link</label>
    <input class="form-control" type="text" ng-model="post.url"/>
  </div>
  <button class="btn btn-lg btn-success" ng-click="savePost(post)">
    Add Post
  </button>
</form>

<br><hr><br>

<div ng-repeat="post in posts" class="container">
  <hr>
  <div class="row">
    <div id="voteButtons" class="col-xs-2">
      <button class="btn btn-sm btn-warning" ng-click="upvotePost(post)">^</button>
      <h4>{{post.votes}}</h4>
      <button class="btn btn-sm btn-primary" ng-click="downvotePost(post)">v</button>
    </div>
    <div id="postBody" class="col-xs-4">
      <h3><a ng-href="{{post.url}}"> {{post.title}} </a></h3>
      <p> {{post.desc}} </p>
      <button ng-click="deletePost(post)">Delete Post</button>
    </div>
    <form role="form" class="col-xs-6">
      <div class="form-group">
        <input class="form-control" type="text" ng-model="comment.text"/>
      </div>
      <button class="btn btn-lg btn-success" ng-click="addComment(post, comment)">
        Add Comment
      </button>
    </form>
  </div>
  <div class="row text-center">
    <h4> Comments </h4>
    <ul ng-repeat="comment in post.comments" class="col-xs-6 col-xs-offset-3">
      <li>{{comment.text}}</li>
    </ul>
  </div>
</div>
